[Desktop Entry]
Name=gar
Comment=Tiling window manager with smart splits
Exec=/home/mfwolffe/GithubOrgs/tenseleyFlow/gar/gar-session.sh
Type=XSession
DesktopNames=gar
